<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.irfan.storeexpressagas">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".baseclasses.BaseActivity" android:screenOrientation="portrait" />
        <activity android:name=".activities.MainActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.Login" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activities.Registration" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.AboutActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.ProductActivity" android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait" />
        <activity android:name=".activities.CartActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.CheckOutFirstActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ProductRequestActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ProfileActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ShoppingListActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.OrdersActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.AllCatActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.OStatusPickupActivity" android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait" />
        <activity android:name=".activities.PaymentMethodActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.OrderStatusDeliveryActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ProductsListActivity" android:screenOrientation="portrait"  android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>